.TransactionCard table {
  table-layout: fixed;
  width: 48vw;
  background-color: rgba(244, 107, 23, 0.2);
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border-collapse:collapse;
  margin: 5px;
  padding: 5px;
  align-self: center;
}

.TransactionCard th {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(244, 107, 23, 0.6);
  border: 1px solid black;
  padding: 5px;
}

.TransactionCard td {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid black;
  padding: 5px;
}

.TransactionCard tbody tr:nth-of-type(even) {
  background-color:  rgba(244, 107, 23, 0.3);
}

.TransactionCard {
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px #3F3F40;
  width: 50vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
