/* .AccountList ul{
  list-style: none;
  padding-inline-start: 20px;
}

.AccountList li{
  margin: 5px;
  font-size: 16px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.2fr 3.2fr 0.3fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . .";
}

.AccountEdit button, .AccountDelete button {
  margin: 5px;
  border-radius: 50%;
}

.AccountEdit button:hover, .AccountDelete button:hover {
  background-color: #F2A20C;
}

.AccountEdit button:active, .AccountDelete button:active {
  background-color: #A67B2D;
} */
