.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.Footer #github_link a, .Footer #linkedin_link a {
  font-size: 35px;
  margin: 0.2em;
  color: #001219;
}

.Footer p {
  font-size: 14px;
  margin: 0.4em;
  inline-size: 7em;
  overflow-wrap: break-word;
}
