.BudgetPieChart {
  /* max-height: 500px;
  max-width: 500px; */
  width: 20vw;
}

.BudgetCard {
  background-color: #F2F2F2;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  box-shadow: 10px 5px 5px #001219;
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "BudgetPieChart BudgetBarChart"
    "BudgetPieText BudgetBarChart";
}

.BudgetPieChart { grid-area: BudgetPieChart; }
.BudgetPieText { grid-area: BudgetPieText; }
.BudgetBarChart { grid-area: BudgetBarChart; }

.BudgetCard ul {
  list-style-type: none;
}

.BudgetBarChart {
  width: 55vw;
}

.BudgetCard li {
  margin: 0.2em;
  padding: 0.2em;
}

.BudgetPieText {
  text-align: center;
  position: relative;
  right: 10%;
  margin-top: 1em;
}

#EditBudgetsButton {
  width: 30%;
  font-size: 12px;
  position: relative;
  left: 28%;
}
