.BudgetPieChart {
  max-height: 500px;
  max-width: 500px;
}

.BudgetCard {
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px #3F3F40;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "BudgetPieChart BudgetBarChart"
    "BudgetPieText BudgetBarChart";
  width: 50vw;
  height: 35vh;
}

.BudgetPieChart { grid-area: BudgetPieChart; }
.BudgetPieText { grid-area: BudgetPieText; }
.BudgetBarChart { grid-area: BudgetBarChart; }

.BudgetCard ul {
  list-style-type: none;
}

.BudgetCard li {
  margin: 5px;
  padding: 5px;
}

/* .BudgetBarChart {
  max-height: 950px;
  max-width: 950px;
} */

.BudgetPieText {
  display: flex;
  justify-content: center;
  align-items: center;
}
