/* TODO Add site wide styles */

.HomeContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

body {
  background-color: #E9F2A0;
}

#root {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
