/* TODO Add site wide styles */

body {
  background-color: rgba(224, 241, 156, 0.50);
}

.HomeContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."; 
}
