.BudgetList {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(244, 107, 23, 0.8);
  color: white;
  padding: 3vh;
}

.BudgetList ul {
  list-style-type: none;
}

.BudgetList li {
  margin: 0.2em;
}

.BudgetListOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

#BudgetEditCloseButton {
  position: relative;
  left: 38%;
}
