.SignUpForm, .LoginForm {
  min-width: 500px;
  min-height: 500px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#LoginButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.LoginButton, .SignUpButton {
  margin: 0.5em;
  margin-top: 0.8em;
}

.LoginForm label, .SignUpForm label {
  margin: 0.3em;
}

.LoginForm form, .SignUpForm form {
  border: 1px solid black;
  box-shadow: 10px 5px 5px #001219;
  padding: 1em;
  /* background-color: rgba(202, 103, 2, 1); */
  background-color: rgba(0, 95, 115, 1);
  color: #F2F2F2;
}

.SignUpButton {
  display: flex;
  justify-content: center;
}

.LoginForm img {
  height: 50%;
  width: 50%;
  margin-bottom: 1em;
}

.SignUpForm img {
  height: 40%;
  width: 40%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.LoginErrors div, .SignUpErrors div{
  color: red !important;
}

.LoginErrors, .SignUpErrors {
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.2em;
  background-color: white;
}
