.AccountAdd {
  margin: 0px;
  padding: 2vh;
  min-height: 10vh;
  min-width: 20vw;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AccountAdd form {
  background-color: rgba(244, 107, 23, 0.8);
  font-weight: 600;
  font-size: 18px;
}

.AccountAdd button {
  margin: 5px;
}

.AccountFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.AccountAdd form {
  padding: 2em;
  color: white;
}


.AccountAdd input {
  margin: 1em;
}

.AccountAddForm form h3 {
  padding: 2em;

}
