.AccountAdd {
  margin: 0px;
  padding: 2vh;
  min-height: 10vh;
  min-width: 20vw;
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.AccountAdd form {
  background-color: rgba(244, 107, 23, 0.8);
  font-weight: 600;
  font-size: 18px;
  border-radius: 0.3em;
}

.AccountAdd button {
  margin: 5px;
  display:inline-block;
  /* border:0.1em solid #F2F2F2; */
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: #F2F2F2;
  text-align: center;
  transition: all 0.2s;
  background-color: inherit;
  border-radius: 0.3em;
}

.submit-button-active {
  border:0.1em solid #F2F2F2;
}

.submit-button-active:hover {
  border:0.1em solid #001219;
  background-color: #001219;
}

.submit-button-disabled {
  border:0.1em solid transparent;
}

.AccountFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.AccountAdd form {
  padding: 2em;
  color: white;
}


.AccountAdd input {
  margin: 1em;
  border-radius: 0.3em;
  border: none;
}

.AccountAddForm form h3 {
  padding: 2em;

}
