.TransactionForm input, .TransactionForm select, .TransactionForm label, .TransactionForm button {
  padding: 0.2em;
  margin: 0.2em;
}

.TransactionForm h3 {
  margin-bottom: 1em;
}

.TransactionForm label {
  width: 8vw;
}

.TransactionForm select, .TransactionForm input {
  box-sizing: content-box;
  width: 15vw;
}

.TransactionForm {
  margin: 0px;
  padding: 4vh;
  min-height: 25vh;
  min-width: 30vw;
  z-index: 1000;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.TransactionForm form {
  background-color: rgba(244, 107, 23, 0.8);
  font-weight: 600;
  font-size: 18px;
  color: white !important;
}

.TransactionFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.TransactionFormButtons {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
