.TransactionAdd label, .TransactionAdd input, .TransactionAdd select {
  margin: 2px;
  padding: 2px;
}

.TransactionAdd select {
  height: 30px;
}

.TransactionAdd form {
  margin: 0px;
  padding: 0px;
}
