.TransactionList {
  margin: 5px;
  padding: 5px;
}

.TransactionList table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1250px;
  font-size: 16px;
}

.TransactionList td, .TransactionList th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
