.TransactionList {
  margin: 0.5em;
  /* padding: 1em; */
}

/* .TransactionList h2 {
  text-decoration: underline;
} */

.TransactionList table {
  table-layout: fixed;
  min-width: 75vw;
  background-color: rgba(244, 107, 23, 0.2);
  border-radius: 0.5em;
  border-collapse:collapse;
}

.TransactionList th {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(244, 107, 23, 0.6);
  border: 1px solid black;
  /* padding: 5px; */
}

.TransactionList td {
  text-align: left;
  font-size: 14px;
  border: 1px solid black;
  padding-left: 0.5em;
}

.TransactionList tbody tr:nth-of-type(even) {
  background-color:  rgba(244, 107, 23, 0.3);
}

.TransactionAdd {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.TransactionList input, .TransactionList select {
  width: 12vw;
}

/* .TransactionAdd form {
  background-color: transparent;
} */

/* .TransactionAdd button {
  margin: 5px;
} */

/* .TableButtons {
  width: 10%;
} */

/* .editButtons button, .saveButtons button {
  margin: 5px;
  border-radius: 50%;
} */

/* .editButtons button:hover, .saveButtons button:hover {
  background-color: #F2A20C;
} */

/* .editButtons button:active, .saveButtons button:active {
  background-color: #A67B2D;
} */
