.TransactionList {
  margin: 0.5em;
  /* padding: 1em; */
}

/* .TransactionList h2 {
  text-decoration: underline;
} */

.TransactionList table {
  table-layout: fixed;
  min-width: 75vw;
  /* border-radius: 0.5em; */
  border-collapse:collapse;
  overflow: hidden;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  /* background-color: rgba(238, 155, 0, 0.2); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.TransactionList thead tr {
  color: #ffffff;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(187, 62, 3, 0.8);
}

.TransactionList th, .TransactionList tr {
  padding: 12px 15px;
}

.TransactionList td {
  padding-left: 0.4em;
}

.TransactionList tbody tr {
  border-bottom: 1px solid rgba(202, 103, 2, 0.2);
}

/* .TransactionList th {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(244, 107, 23, 0.6);
  padding: 0.5em;
} */

/* .TransactionList td {
  text-align: left;
  font-size: 14px;
  padding-left: 0.5em;
} */

.TransactionList tbody tr:nth-of-type(even) {
  background-color:  rgba(242, 242, 242, 0.4);
}

.TransactionList tbody tr:last-of-type {
  border-bottom: 2px solid rgba(202, 103, 2, 0.4);
}

.TransactionAdd {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

#CategorySelect {
  width: 12vw;
}

#AccountSelect {
  width: 14vw;
}

.TransactionList input {
  width: 10vw;
}

.editButtons button, .saveButtons button {
  background-color: transparent;
  border: 0.1em solid transparent;
  font-size: 14px;
}

.editButtons button:hover, .saveButtons button:hover {
  border: 0.1em solid black;
  background-color: #F2F2F2;
}
