.AccountEdit form {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3.2fr 0.3fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  width: 595px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
}
