.NavBar {
  background-color: rgba(244, 107, 23, 0.8);
  height: 5%;
  width: 50%;
  align-self: center;
  border-radius: 0.5em;
}

.NavBar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.1em;
  margin: 0.1em;
}

.NavBar button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid transparent;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
  background-color: inherit;
}

.NavBar button:hover{
  color:#000000;
  border:0.1em solid black;
  background-color: #F2F2F2;
}
