@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.NavBar {
  background-color: rgba(244, 107, 23, 0.8);
  border-radius: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 50px;
  width: 50%;
  align-self: center;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none !important;
  color: black !important;
}

.NavBar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%
}

.NavBar button {
  display:inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding:0.2em 1.45em;
  margin:0.1em;
  border:0.15em solid transparent;
  box-sizing: border-box;
  text-decoration:none !important;
  color:#000000 !important;
  background-color: transparent;
  text-align:center;
  position:relative;
}

.NavBar button:hover {
  border-color:#7a7a7a;
}

.NavBar button:active {
  background-color:#999999;
}
