.CategoryCard {
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px #3F3F40;
  width: 50vw;
  height: fit-content;
}

.CategoryBubbleChart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CategoryBubbleChart canvas {
  max-height: 40vh;
  max-width: 650px;
}
