.SidePanel h3 {
  font-weight: 600;
  font-size: 14px;
}

.SidePanel {
  background-color: rgba(0, 95, 115, 1);
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
  color: #F2F2F2;
  position: sticky;
  top: 0;
  height: fit-content;
  min-height: 90vh;
}

.Transactions ul {
  list-style-type: none;
  padding-inline-start: 0.1em;
}

.Transactions li {
 font-size: 10px;
 margin: 5px;
}

.Transactions a {
  color: #F2F2F2 !important;
  text-decoration: none !important;
 }

#SideMax {
  position: sticky;
  left: 22%;
}

#SideMin {
  position: sticky;
  left: 25%;
}

#SideMin button, #SideMax button {
  font-size: 8px;
  border-radius: 2em;
}

#MinSidePanel {
  width: 10vw;
}

#MaxSidePanel {
  width: 20vw;
}

.FilterButtons {
  cursor: pointer;
}
