/* .SidePanel h3 {
  font-weight: 600;
  font-size: 20px;
}

.SidePanel {
  background-color: #F2A20C;
  border-radius: 5px;
  padding: 5px;
}

.Transactions ul {
  list-style-type: none;
  padding-inline-start: 20px;
}

.Transactions li {
 font-size: 16px;
 margin: 5px;
}

#SideMax {
  position: sticky;
  left: 22%;
}

#SideMin {
  position: sticky;
  left: 25%;
}

#SideMin button, #SideMax button {
  font-size: 10px;
  border-radius: 10px;
} */

#MinSidePanel {
  width: 10vw;
}

#MaxSidePanel {
  width: 20vw;
}
